{% extends 'base.html' %}
{% block title %} Buy Cars and more Cars
{% endblock %}
{% block content %}
<!--searchbar-->
<div class="searchbar">
    <input type="text" placeholder="Search...">
  <button type="submit">Search</button>
</div>
<!--end of searchbar-->

<!--brands div-->
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h1 class="text-center text-2xl text-black-600">Buy Your Car</h1>
      <div class="grid grid-cols-3 gap-3 justify-center">
        {%for brand in brands %}
            <div>
                <a href="#">
                    <div class=" bg-white rounded-b-xl">
                      <img src="{{ brand.image.url }}" class="rounded-xl w-20 h-20"">
                    </div>
                </a>
            </div>
        {% endfor %}
      </div>  
</div>
<!--end of brands div-->

<!--list of cars available-->
      <h2 class="text-2xl text-black-600">Cars and more Cars!!</h2>
      {% for car in cars %}
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
          <a href="#">
            <div>
              <img src="{{ car.image.url }}" class="rounded-xl w-70 h-40" alt="car image">
            </div>
            <div>
              
              <h2 class="text-1xl">{{ car.name }}</h2>
              <h2 class="text-1xl">{{ car.price }}</h2>
              <p class="#">{{ car.description }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    


</div>


<!--list of cars available-->
  

{% endblock %}