{% extends 'base.html' %}
{% block title %}Cars and more Cars{% endblock %}
{%block content %}
<div class="slider">
    <div class="slides">

        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio1">

        <div class="slide-first">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
        <div class="slide">
            <img src="#" alt="#">
        </div>
    </div>
</div>